<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="atom" />
  <package id="git" />
  <package id="googlechrome" />
  <package id="grails" />
  <package id="jdk8" />
  <package id="neovim" />
  <package id="python" />
  <package id="packer" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="visualstudiocode" />
</packages>
